*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* general styles */

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* image general */
img {
  max-width: 100%;
  display: block;
}

.logo {
  width: 120px;
}

/* header and navbar */
.header {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #555b6e;
}

.navbar {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  transition: transform 0.5s ease-in-out;
}

.nav-list a {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
}

.nav-list a:hover,
.nav-list a:focus {
  border-bottom: 2px solid #faf9f9;
}

.hamburger {
  display: none;
}

/* selected card */

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 0.5rem;
  padding-bottom: 4rem;
}
.card {
  width: 350px;
  height: 500px;
  display: grid;
  margin: 5rem auto;
  text-align: center;
}

.author {
  color: #555b6e;
  font-weight: 500;
  font-style: italic;
}

.card-info {
  border: 10px solid #bee3db;
  padding-top: 0.5rem;
}

.card-image {
  width: 90%;
  height: 450px;
  margin: 0 auto;
  transform: translateY(22px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-favourite {
  display: inline-block;
  width: 210px;
  padding: 0.6rem 1.5rem;
  margin-top: 0.5rem;
  background-color: #409d69;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.card-details {
  transform: translateY(27px);
  color: #00635d;
  padding: 0.2rem 0;
  font-weight: 600;
  letter-spacing: 0.25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* more details section */
.more-details-card {
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 3px;
  display: flex;
}

.more-details-card img {
  width: 240px;
}

.more-details-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.book-title {
  color: #555b6e;
  font-size: 1.4rem;
  text-decoration: underline;
}

.description {
  font-style: italic;
}

.btn-back {
  display: block;
  color: black;
  border: 2px solid black;
  margin: 2rem auto;
  padding: 0.5rem 1.25rem;
  width: 150px;
  text-align: center;
  font-weight: 600;
  outline: none;
}

@media (max-width: 780px) {
  .more-details-card {
    flex-direction: column;
    align-items: center;
  }
  .more-details-card img {
    width: 85%;
    margin-bottom: 1.5rem;
  }
}

/* favourite heart color */
.heart {
  /* color: gold; */
  font-size: 2.1rem;
}

.red-heart {
  color: rgb(243, 19, 19);
}

/* loading page  */
.loading {
  text-align: center;
  margin-top: 5rem;
}

/* empty fovourites */
.favourites-empty {
  text-align: center;
  margin-top: 4rem;
}

/* responsive */
@media (max-width: 842px) {
  .nav-list {
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    background-color: #555b6e;
    top: 0;
    left: 100%;
    z-index: 9;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .nav-list a {
    font-size: 3rem;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease-in-out;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
    outline: none;
    z-index: 999;
  }

  .line {
    position: absolute;
    cursor: pointer;
    height: 3px;
    width: 32px;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
  }

  .top {
    top: 13px;
  }

  .middle {
    top: 23px;
  }

  .bottom {
    top: 33px;
  }

  .toggle-top-line {
    transform: rotate(-45deg) translate(-7.07px, 7.07px);
  }

  .toggle-middle-line {
    transform: scaleX(0);
  }

  .toggle-bottom-line {
    transform: rotate(45deg) translate(-7.07px, -7.07px);
  }
}

@media (max-width: 320px) {
  .navbar {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .card {
    width: 80%;
  }
}
